@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}
h1{
    font-family: família de fontes: 'Amatic SC', cursiva;
font-family: 'Dancing Script', cursiva;
família da fonte: 'Sacramento', cursiva;
}