@charset "UTF-8";

body{background-color: rgb(55, 43, 226));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; }
   
     h1{color: darkgoldenrod; background-color: rgb(241, 235, 238);}
   
    h2{color: rgb(100, 187, 13);}
   
     p{text-align: color rgb(236, 110, 6)];}
   
    